.row {
  margin-left: 10px;
  color: white;
  .title {
    color: rgb(229, 229, 229);
    font-size: 20px;
    font-weight: bold;
    height: 18px;
  }
  &__posters {
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    padding: 20px;
    &::-webkit-scrollbar {
      display: none;
    }
    .poster {
      object-fit: contain;
      width: 100%;
      max-height: 120px;
      transition: transform 450ms;
      margin-right: 10px;
      &:hover {
        transform: scale(1.08);
        opacity: 1;
      }
    }
    .poster-large {
      max-height: 250px;
      &:hover {
        transform: scale(1.09);
      }
    }
  }
}
